<h1><%= @cocktail.name %></h1>
<p><% @cocktail.doses.each do |dose|%>
  <ul>
    <li>
      <%= dose.description %> of <%= dose.ingredient.name %>
      <%= link_to "Retirer cet ingrédient", dose_path(dose.id), method: :delete,
        data: { confirm: "Are you sure?" } %>
    </li>
  </ul>
<% end %>
</p>
  <%= image_tag @cocktail.photo, {class: "img-circle"} %>

<%# simple_form_for(@cocktail) do |f| %>
  <%# f.input :name %>
  <%# f.input :photo %>
  <%# f.input :photo_cache, as: :hidden %>

  <%# f.submit %>
<%# end %>

<div class="text-center">
  <hr>
  <%= link_to "Ajouter un ingrédient", new_cocktail_dose_path(@cocktail.id), class: "btn btn-success"%>
  <hr>
  <%= link_to "Revenir à la liste des cocktails", root_path, class: "btn btn-success"%>
</div>
